<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <!--<add name="commit_campus_single" connectionString="Server=tcp:uld67t7jyl.database.windows.net,1433;Database=commit_campus_single;User ID=robert@uld67t7jyl;Password=Commit!1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
    <add name="commit_dallas" connectionString="Server=tcp:uld67t7jyl.database.windows.net,1433;Database=commit_dallas;User ID=robert@uld67t7jyl;Password=Commit!1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <!--<add name="commit_aeis_dictionary" connectionString="Server=tcp:uld67t7jyl.database.windows.net,1433;Database=commit_aeis_dictionary;User ID=robert@uld67t7jyl;Password=Commit!1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
    <!--<add name="commit_dash_district" connectionString="Server=tcp:uld67t7jyl.database.windows.net,1433;Database=commit_dash_district;User ID=robert@uld67t7jyl;Password=Commit!1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
    <!--<add name="commit_staar_full" connectionString="Server=tcp:uld67t7jyl.database.windows.net,1433;Database=commit_staar_full;User ID=robert@uld67t7jyl;Password=Commit!1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
    <!--<add name="commit_pages_two" connectionString="Server=tcp:uld67t7jyl.database.windows.net,1433;Database=commit_pages_two;User ID=robert@uld67t7jyl;Password=Commit!1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
    <add name="commit_aeis" connectionString="Server=tcp:uld67t7jyl.database.windows.net,1433;Database=commit_aeis;User ID=robert@uld67t7jyl;Password=Commit!1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="commit_data" connectionString="Server=tcp:uld67t7jyl.database.windows.net,1433;Database=commit_data;User ID=robert@uld67t7jyl;Password=Commit!1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="tapr_2015" connectionString="Server=tcp:uld67t7jyl.database.windows.net,1433;Database=tapr_2015;User ID=robert@uld67t7jyl;Password=Commit!1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="tapr_2014" connectionString="Server=tcp:uld67t7jyl.database.windows.net,1433;Database=tapr_2014;User ID=robert@uld67t7jyl;Password=Commit!1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="tapr_2013" connectionString="Server=tcp:uld67t7jyl.database.windows.net,1433;Database=tapr_2013;User ID=robert@uld67t7jyl;Password=Commit!1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="benchmarking" connectionString="Server=tcp:uld67t7jyl.database.windows.net,1433;Database=benchmarking;User ID=robert@uld67t7jyl;Password=Commit!1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="commit" connectionString="Server=tcp:uld67t7jyl.database.windows.net,1433;Database=commit;User ID=robert@uld67t7jyl;Password=Commit!1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="tapr_longitudinal" connectionString="Server=tcp:uld67t7jyl.database.windows.net,1433;Database=tapr_longitudinal;User ID=robert@uld67t7jyl;Password=Commit!1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="staar" connectionString="Server=tcp:uld67t7jyl.database.windows.net,1433;Database=staar;User ID=robert@uld67t7jyl;Password=Commit!1;Trusted_Connection=False;Encrypt=True;Connection Timeout=90;" providerName="System.Data.SqlClient" />

    <!--<add name="commit_pages" connectionString="Server=tcp:uld67t7jyl.database.windows.net,1433;Database=commit_pages;User ID=robert@uld67t7jyl;Password=Commit!1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
    <!--<add name="commit_teks_two" connectionString="Server=tcp:uld67t7jyl.database.windows.net,1433;Database=commit_teks_two;User ID=robert@uld67t7jyl;Password=Commit!1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CacheTimeMinutes" value="120" />
    <add key="MandrillApiKey" value="BqDFn3N2RNp74EnsNcTxUw" />
    <add key="FromEmail" value="info@commit2dallas.org" />
    <add key="FromName" value="Commit! Dallas" />
    <add key="InvitationEmailSubject" value="{0} recommended you to check commit! web site" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>
