<div class="page page-profile">

    <header class="profile-header">
        <div class="profile-img">
            <!--<img alt="" src="images/g1.jpg" class="img-circle">-->

        </div>

        <a href="http://www.commit2dallas.org" target="_blank"><img alt="" src="images/logo5.png"></a>

        <div class="profile-social" style="margin-left:25px;">
            <a href="https://www.facebook.com/Commit2Dallas" target="_blank" class="btn-icon btn-icon-round btn-facebook"><i class="ti-facebook"></i></a>
            <a href="https://twitter.com/commit2dallas" target="_blank" class="btn-icon btn-icon-round btn-twitter"><i class="ti-twitter"></i></a>
            <!--<a href="javascript:;" class="btn-icon btn-icon-round btn-instagram"><i class="ti-instagram"></i></a>-->
        </div>



        <div class="profile-info">
            <!--<ul class="list-unstyled list-inline">
                <li><i class="ti-video-clapper"></i> Films <span class="text-muted">(39)</span></li>
                <li><i class="ti-camera"></i> Photos <span class="text-muted">(63)</span></li>
                <li><i class="ti-bookmark"></i> Collections <span class="text-muted">(55)</span></li>
                <li><i class="ti-check"></i> Tasks <span class="text-muted">(34)</span></li>
            </ul>-->
        </div>
    </header>

    <div class="row">

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><i class="ti-bar-chart"></i> What is AEIS/TAPR?</strong></div>
                <div class="panel-body">
                    <p>AEIS is the program of the Texas Education Agency that stands for Academic Excellence Indicator. It has changed its name to the Texas Academic Performance Reports in the past 2 years. (TAPR)</p>
                    <p>The data is available on their <a href="http://ritter.tea.state.tx.us/perfreport/aeis/" target="_blank">site</a> from the past 20 years. We have taken just about all of the data from that site, and tried to put it in a format that's a little easier to gather and work with.</p>

                    <p>You can download whatever data you're looking for at our <a href="http://data.commit2dallas.org/#/bulk">Bulk download page</a>or you can browse by the campus level on our <a href="http://data.commit2dallas.org/#/campus">campus page</a> or at the district and state level on our <a href="http://data.commit2dallas.org/#/district">district page</a>.</p>

                    <p>There are 254 Counties in Texas with 8,254 schools and 1257 School Districts. Our state is made up of 4.5 million students and 334,354 teachers so there's a lot of data.</p>
                </div>
            </div>


            <section class="panel panel-box">
                <div class="panel-top bg-primary" style="background-color:#002768">
                    <div class="text-center">
                        <!--<h3>Texas</h3>-->
                        <!--<p>Project Manager</p>-->
                    </div>
                    <div class="divider divider-lg"></div>
                    <div class="divider divider-lg"></div>
                    <div class="divider divider-lg"></div>
                    <div class="divider divider-lg"></div>
                </div>
                <div class="panel-img bg-primary">
                    <img alt="" src="images/texas.jpg" class="img-circle">
                </div>
                <div class="list-justified-container">
                    <ul class="list-justified text-center">
                        <li>
                            <p class="size-h3">8,574</p>
                            <p class="text-muted">Campuses</p>
                        </li>
                        <li>
                            <p class="size-h3">1,227</p>
                            <p class="text-muted">Districts</p>
                        </li>
                        <li>
                            <p class="size-h3">5,135,880</p>
                            <p class="text-muted">Students</p>
                        </li>
                        <li>
                            <p class="size-h3">334,511</p>
                            <p class="text-muted">Teachers</p>
                        </li>
                    </ul>
                </div>
            </section>

            <div class="panel panel-default">
                <div class="panel-heading"><strong><i class="ti-bar-chart"></i> Where can I find the data?</strong></div>
                <div class="panel-body">
                    <p>The state opens up the data on their website <a href="http://ritter.tea.state.tx.us/perfreport/aeis/" target="_blank">here</a>.</p>
                    <p>The data is aggregated at 4 levels:</p>
                    <ul>
                        <li>Campus</li>
                        <li>District</li>
                        <li>Region</li>
                        <li>State</li>
                    </ul>
                    <p>Each campus is given a campus number that is 9 digits long. The first 3 digits are the county, second three are the district, and then the campus. For example, 057905225:</p>
                    <ul>
                        <li>057 - Dallas County</li>
                        <li>905 - Dallas ISD</li>
                        <li>225 - Woodrow Wilson High School</li>
                    </ul>
                    <p>Attached is a list of campus, district, and counties in Texas.</p>
                    <ul>
                        <li><a href="https://commitdallas.blob.core.windows.net/references/2014_campus_reference.csv">Campus Reference</a></li>
                        <li><a href="https://commitdallas.blob.core.windows.net/references/2014_district_reference.csv">District Reference</a></li>
                        <li><a href="https://commitdallas.blob.core.windows.net/references/County_Numbers.csv">County Reference</a></li>
                    </ul>
                    <!--<div class="ui-timline-container">
            <section class="ui-timeline">
                <article class="tl-item">
                    <div class="tl-body">
                        <div class="tl-entry">
                            <div class="tl-caption">
                                <a href="javascript:;" class="btn btn-primary btn-block">Today</a>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="tl-item">
                    <div class="tl-body">
                        <div class="tl-entry">
                            <div class="tl-time">3 min ago</div>
                            <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info"><i class="ti-shine"></i></div>
                            <div class="tl-content">
                                <h4 class="tl-tile text-primary">Go hiking</h4>
                                <p>Consectetur adipisicing elit. Error, accusantium debitis voluptatem dolore excepturi ducimus fugiat nulla perspiciatis quo ipsum non eligendi nisi veniam maxime in quas atque omnis cumque!</p>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="tl-item alt">
                    <div class="tl-body">
                        <div class="tl-entry">
                            <div class="tl-time">1 hour ago</div>
                            <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-warning"><i class="ti-shopping-cart"></i></div>
                            <div class="tl-content">
                                <h4 class="tl-tile text-danger">Buy some toys</h4>
                                <p>Ullam, commodi, modi, impedit nostrum odio sit odit necessitatibus accusantium enim voluptates culpa cupiditate cum pariatur a recusandae tenetur aspernatur at beatae.</p>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="tl-item">
                    <div class="tl-body">
                        <div class="tl-entry">
                            <div class="tl-time">3 hours ago</div>
                            <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-success"><i class="ti-camera"></i></div>
                            <div class="tl-content">
                                <h4 class="tl-tile text-warning">Soluta nihil</h4>
                                <p>Incidunt, molestias odio soluta nihil accusantium sit nostrum doloremque. Recusandae, ullam, odio consequatur facere totam reiciendis similique dicta explicabo!</p>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </div>-->
                </div>
            </div>




        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><i class="ti-bar-chart"></i> Texas Student Demographics</strong></div>
                <div class="panel-body">
                    <div class="text-center">Share of Internet Population Growth, 2007 - 2012</div>
                    <div id="pie"></div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading"><strong><i class="ti-bar-chart"></i> Texas School Districts</strong></div>
                <div class="panel-body">
                    <img style="width:100%;" src="../../../images/TX_Districts2.png" />

                </div>
            </div>
        </div>

        <!--<div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><i class="ti-bar-chart"></i> Things to Know</strong></div>
                <div class="panel-body">
                    <p>The TEA gives out the data at 4 different levels:</p>
                    <ul>
                        <li>Campus</li>
                        <li>District</li>
                        <li>Region</li>
                        <li>State</li>
                    </ul>


                    <p>Campus Numbers</p>
                    <p>file with counties</p>

                    <p>File fields have archane names to make them easier to put into a database...I have included a dictionary at the bottom of this page to show what's available each year.</p>
                    <p>Here is the TEA's glossary that explains what the variables beyond just their description.</p>

                    <p>Completion is in college until 2007, when it gets its own files</p>
                    <p>mobility leaves the files in and comes back</p>
                </div>
            </div>
        </div>-->


    </div>

    <!--<div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><i class="ti-bar-chart"></i> Campus Standard</strong></div>
                <div class="panel-body">
                    <p>Accountability stuff?</p>
                    <p>PEG List?</p>
                    <p>Improvement Required, etc.</p>
                </div>
            </div>
        </div>
    </div>-->

    <div class="row">

        <div class="col-md-12">


            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Table"></span></strong></div>
                <div class="panel-body">
                    <p>Here is a list of all the tables and variables available in the AEIS/TAPR system going back to 1999</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div style="margin-bottom:20px;">
                                <select kendo-drop-down-list="yearList" k-on-change="changeyear(selectedYear)" k-data-value-field="'year'" k-data-text-field="'name'" k-data-source="years" k-ng-model="selectedYear" style="width: 100%"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="margin-bottom:20px;">
                                <select kendo-drop-down-list="tableList" k-on-change="changeTable(selectedTable)" k-data-value-field="'value'" k-data-text-field="'name'" k-data-source="tables" k-ng-model="selectedTable" style="width: 100%"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="dictionaryGrid"></div>
                </div>
            </div>

        </div>
    </div>
</div>