
<div class="page page-dashboard" id="district-container">

    <h1 class="page-title print-item">{{selectedYear}} Texas School District Data</h1><hr />

    <div class="page-splash" ng-class="{'page-splash-active':spinner}">
        <div class="page-splash-message">
            <div class="page-splash-message-subtle">Loading...</div>
        </div>
    </div>


    <div class="row print-item">
        <div class="col-md-2">
            <span>Filter By County :</span>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">


                <input kendo-combo-box k-ng-model="selectedCounty"
                       k-placeholder="'Type a County'"
                       k-data-source="counties" style="width: 100%"
                       k-data-text-field="'CNTYNAME'"
                       k-data-value-field="'CNTYNAME'"
                       k-filter="'startsWith'"
                       on-change="countyChange()" />
            </div>
        </div>
        <div class="col-md-2">
            <!--&nbsp;-->
            <select kendo-drop-down-list ng-model="selectedYear" class="year-down" style="width: 100%;" on-change="yearChange()">
                <!--<option value="2016">2016</option>-->
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
            </select>
        </div>
    </div>

    <div class="row print-item">
        <div class="col-md-2">
            Select District :
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <input kendo-combo-box="districtDD" k-ng-model="selectedDistrict"
                       k-placeholder="'Type a District'"
                       k-data-source="districts" style="width: 100%"
                       k-data-value-field="'DISTNAME'"
                       k-data-text-field="'DISTNAME'" k-options="{filter:'contains'}"
                       on-change="districtChange()" />
            </div>
        </div>

        <div class="col-md-2">
            <button class="btn btn-primary" ng-click="download()">Download All Data</button>
            <a style="font-size: 30px;margin: -5px 20px;float: right;" href="" ng-click="print()"><i class="fa fa-print"></i></a>
        </div>
    </div>
    <div kendo-tab-strip k-content-urls="['/app/templates/pages/districtPartial/general.html', '/app/templates/pages/districtPartial/student.html','/app/templates/pages/districtPartial/staff.html','/app/templates/pages/districtPartial/longitudinal.html','/app/templates/pages/districtPartial/staar.html']" k-options="tabOptions">
        <!-- tab list -->
        <ul class="print-item">
            <li class="k-state-active" data-item="general">General</li>
            <li data-item="student">Student</li>
            <li data-item="staff">Staff</li>
            <li data-item="longitudinal">Longitudinal</li>
            <li data-item="staar">STAAR</li>
        </ul>
    </div>
</div>


<div class="documentation" ng-show="false">
    <div id="staarAllSubjectGradesDoc">
        STAAR percent at the Phase-in 1 Standard (approximately 50% of questions correct) or the Postsecondary Readiness Standard level (approximately 70%-75% of the questions correct) aggregated at the district or campus level from the STAAR aggregator tool provided by TEA.
    </div>
    <div id="staarAllGradesDoc">
        STAAR Percent at the Phase-in 1 Standard (approximately 50% of questions correct) or the Postsecondary Readiness Standard (approximately 70%-75% of the questions correct). This indicator shows the percent of students who meet the applicable standard by performing at this level on two or more assessments. Students who took only one assessment are also included.
    </div>
    <div id="ACTAverageDoc">
        This shows the average score for the ACT for examinees in the graduating class of {{selectedYear-1}}. The maximum score is 36.
    </div>
    <div id="SATAverageDoc">
        This shows the average score for the SAT critical reading, writing, and mathematics for the {{selectedYear-1}} graduating class. The maximum score is 2400.
    </div>
    <div id="ACTSATAverageDoc">
        This shows the percent of {{selectedYear-1}} graduates who took the SAT or ACT college admissions test.
    </div>
    <div id="ACTSATAboveCriterionDoc">
        <!--This shows the percent, of each graduating class, who took the SAT or ACT college admissions test.-->
        This shows the percent of examinees of the graduating class of {{selectedYear-1}} who scored at or above the criterion score on either test (1110 on the SAT critical reading and mathematics sections combined, or 24 on the ACT composite).
    </div>
    <div id="studentDemoDoc">
        Students are reported as African American, Hispanic, White, American Indian, Asian, Pacific Islander, and Two or More Races. The percentage of the total number of students in the African American, Hispanic, White, and Other races/ethnicities are shown.
    </div>
    <div id="graduationRatesDoc">
        This indicator shows the status of a group (cohort) of students after four years in high school (4-Year Longitudinal Rate). For the 4-Year Longitudinal Rate, the cohort consists of students who first attended ninth grade in {{selectedYear-5}}-{{selectedYear-4}}. They are followed through their expected graduation with the class of {{selectedYear-1}}.
    </div>
    <div id="teacherExperienceDoc">
        This is the FTE percent of total teachers with years of professional experience that fall into the ranges shown.
    </div>
     <div id="staarGradesDoc">
       STAAR percent at the Phase-in 1 Standard (approximately 50% of questions correct) or the Postsecondary Readiness Standard level (approximately 70%-75% of the questions correct) on the basis of grades and its respective subjects.
    </div>

    <div id="Mobility">
        A student is considered to be mobile if he or she has been in membership at the school for less than 83% of the school year (i.e., has missed six or more weeks at a particular school). The district mobility rate reflects school-to-school mobility within the same district or from outside the district.
    </div>
    <div id="Enrollment">
        This is the total number of public school students who were reported in membership on a campus on October, {{selectedYear-1}} at any grade from early childhood education through grade 12.
    </div>
    <div id="English">
        The percent of ELL or LEP students is calculated by dividing the number of ELL students by the total number of students in the school or district.
    </div>
    <div id="Low_Income">
        The percentage of economically disadvantaged students is calculated as the sum of students eligible for free or reduced-price lunch or eligible for other public assistance, divided by the total number of students.
    </div>

    <!--district long-->

    <div id="enrollmentTimeDoc">
        Changes in Student Enrollment Over Time
        <!--This is the total number of public school students who were reported in membership on October 25, 2013 at any grade from early childhood education through grade 12.-->
    </div>
    <div id="demographicsTimeDoc">
        The percentage of the total number of African American, Hispanic, White, and Other race/ethnicity students are shown over time for the district.
    </div>
    <div id="satTimeDoc">
        This shows the average score for the SAT over time for examinees in each graduating class. All years through 2011 include critical reading and mathematics components, with a maximum score of 1600. Years {{selectedYear-3}} through {{selectedYear-1}} include a 3rd component, writing, with a maximum score of 2400.
    </div>
    <div id="actTimeDoc">
        <!--This shows the average score for the ACT composite. The maximum score is 36.-->
        This shows the average score for the ACT over time for examinees in each graduating class. The maximum score is 36.
    </div>
    <div id="satActTimeDoc">
        This shows, over time, the percentage of graduates who took the SAT or ACT college admissions test as well as the percentage of test-takers scoring at or above criterion on the SAT and ACT.
    </div>
    <div id="staffExperienceChartDoc">
        This measure refers to the average number of completed years of professional experience for teachers, regardless of the district. Experience is based on weighted averages calculated by multiplying each teacher’s FTE coefficient (e.g., 1 for a full-time teacher, .75 for a three-quarter-time teacher, or .5 for a half-time teacher) by his or her number of years of experience. These amounts are summed for all teachers and divided by the sum of all teachers’ FTE coefficients. 
    </div>
    <div id="economicsTimeDoc">
        <!--The percentage of economically disadvantaged students is calculated as the sum of students eligible for free or reduced-price lunch or eligible for other public assistance, divided by the total number of students.-->
        Changes in the percentage of enrolled students who are economically disadvantaged and students classified as Limited English Proficiency over time
    </div>
    <div id="gradChartDoc">
        This indicator shows the status of a group (cohort) of students after four years in high school (4-Year Longitudinal Rate). For the 4-Year Longitudinal Rate, the cohort consists of students who first attended ninth grade in 2009-10. They are followed through their expected graduation with the class of 2013.
    </div>
    <div id="staarSubjectDoc">
        Percentage of examinees, over time, meeting the STAAR Postsecondary Readiness Standard level aggregated at the district or campus level from the STAAR aggregator tool provided by TEA.
    </div>
    <div id="annualGraduatesDoc">
        Class of {{selectedYear-1}} graduates by race/ethnicity.
    </div>
    <div id="studentByDemoDoc">
        District student composition by race/ethnicity, {{selectedYear-1}}-{{selectedYear}} school year.
    </div>
    <div id="retentionRatesDoc">
        Student retention rates by grade level and by gen ed / special ed, {{selectedYear-1}}-{{selectedYear}}
    </div>
    <div id="studentByGradeDoc">
        District student composition by grade level status, {{selectedYear-1}}-{{selectedYear}}
    </div>
    <div id="enrollmentByProgramDoc">
        District student enrollment percentage in specific educational programs, {{selectedYear-1}}-{{selectedYear}}
    </div>
    <!--end of district long-->
</div>

<style>
    .k-tooltip-content {
        width: 300px;
    }

    .panel-body {
        overflow: auto;
    }

    .k-tabstrip .k-content.k-state-active {
        background-color: #f3f3f3;
    }

    .k-tabstrip .k-state-active {
        border-color: #c5c5c5;
    }

    [class*="col-"] {
        box-sizing: border-box;
    }

</style>
