

<!--<ui-gmap-google-map height="800px" center="map.center" zoom="map.zoom" styles="map.styles"></ui-gmap-google-map>-->
<!--<button id="mapButton">my button</button>-->

<div class="row">

    <!--<div id="mapLeft" class="col-lg-5">
        <table class="table table-striped">

            <tr ng-repeat="n in table track by $index" ng-click="hello()">
                <td>{{n.variable}}</td>
                <td>{{n.title}}</td>
            </tr>
        </table>

    </div>-->
    <div id="map-canvas" class="col-lg-12"></div>
</div>