
<div class="page page-dashboard">

    <div class="row print-item">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><i class="ti-bar-chart"></i> Student Demographics over Time</strong></div>
                <div class="panel-body">
                    <div class="col-md-12 icon-panel">
                        <a href="#" download="Student_Demographics.png" class="imageExport" data-chart="demographicsTime">
                            <i class="fa fa-file-image-o fa-lg"></i>
                        </a>
                        <a class="csvExport" data-chart="demographicsTime"><i class="fa fa-download fa-lg"></i></a>
                        <a><i kendo-tooltip="" k-options="tooltipOptions" data-chart="demographicsTime" class="fa fa-question-circle fa-lg"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="demographicsTime"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><i class="ti-bar-chart"></i> Enrollment Over Time</strong></div>
                <div class="panel-body">
                    <div class="col-md-12 icon-panel">
                        <a href="#" download="Enrollment.png" class="imageExport" data-chart="enrollmentTime">
                            <i class="fa fa-file-image-o fa-lg"></i>
                        </a>
                        <a class="csvExport" data-chart="enrollmentTime"><i class="fa fa-download fa-lg"></i></a>
                        <a><i kendo-tooltip="" k-options="tooltipOptions" data-chart="enrollmentTime" class="fa fa-question-circle fa-lg"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="enrollmentTime"></div>
                </div>
            </div>
        </div>

    </div>



    <div class="row print-item">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><i class="ti-bar-chart"></i> Low Income</strong></div>
                <div class="panel-body">
                    <div class="col-md-12 icon-panel">
                        <a href="#" download="Economically_Disadvantaged.png" class="imageExport" data-chart="lowIncomeTime">
                            <i class="fa fa-file-image-o fa-lg"></i>
                        </a>
                        <a class="csvExport" data-chart="lowIncomeTime"><i class="fa fa-download fa-lg"></i></a>
                        <a><i kendo-tooltip="" k-options="tooltipOptions" data-chart="lowIncomeTime" class="fa fa-question-circle fa-lg"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="lowIncomeTime"></div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><i class="ti-bar-chart"></i> Mobility Over Time</strong></div>
                <div class="panel-body">
                    <div class="col-md-12 icon-panel">
                        <a href="#" download="Mobility.png" class="imageExport" data-chart="mobilityTime">
                            <i class="fa fa-file-image-o fa-lg"></i>
                        </a>
                        <a class="csvExport" data-chart="mobilityTime"><i class="fa fa-download fa-lg"></i></a>
                        <a><i kendo-tooltip="" k-options="tooltipOptions" data-chart="mobilityTime" class="fa fa-question-circle fa-lg"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="mobilityTime"></div>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <table>
            <tbody>
                <tr>
                    <td class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong><i class="ti-bar-chart"></i> Attendance Over Time</strong></div>
                            <div class="panel-body">
                                <div class="col-md-12 icon-panel">
                                    <a href="#" download="Attendance.png" class="imageExport" data-chart="attendanceTime">
                                        <i class="fa fa-file-image-o fa-lg"></i>
                                    </a>
                                    <a class="csvExport" data-chart="attendanceTime"><i class="fa fa-download fa-lg"></i></a>
                                    <a><i kendo-tooltip="" k-options="tooltipOptions" data-chart="attendanceTime" class="fa fa-question-circle fa-lg"></i></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="attendanceTime"></div>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-6">

                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>